config setup

conn %default
  ikelifetime=60m
  keylife=20m
  rekeymargin=1m
  keyingtries=1
  keyexchange=ikev2
  auto=route
  ike=aes128-sha1-modp1536
  esp=aes128-sha1
  type=transport
  left=%any
  leftsubnet=0.0.0.0/0[gre]
  rightsubnet=0.0.0.0/0[gre]
  leftauth=pubkey
  rightauth=pubkey
  closeaction=restart

conn gre-transport
  leftcert={{ inventory_hostname }}.crt
  leftsendcert=always
  right=%any
  rightsendcert=no

include /etc/ipsec.d/*.conf
